body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(240, 208, 240),rgb(236, 137, 236),rgb(245, 74, 245),rgb(207, 4, 207));
    background-repeat: no-repeat;
    background-attachment :fixed;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}
.todolist{
    background-color: whitesmoke;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
}
input{
    background-color: lightgray;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.add{
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 20px;
}